{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <img src="images/sparta.png" class="natjecanje_logo">
    <img src="images/waksc.png" class="hgss_logo">
    <div>
      <h1>Welcome to 4th Zagreb Open</h1>
      <p>WAKSC Grand Prix series</p>
      <p>Competition date: <b>01.04.2017</b></p>
      <p>Registration deadline: <b>22.03.2017</b></p>
      <p><a class="btn btn-primary btn-lg" href="{{servlet-context}}/register">Register &raquo;</a></p>
    <div>
  </div>

  <div class="row">
    <div class="span12">
    </div>
  </div>
{% endblock %}
