{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <img src="images/2016_LOGO_NATJECANJA_TRANSPARENT.png" class="natjecanje_logo">
    <div>
      <h1>Welcome to Bjelovar Open</h1>
      <p>Registration page for Bjelovar Open Kettlebell competition 2016</p>
      <p>Competition date: <b>08.10.2016</b></p>
      <p>Registration deadline: <b>03.10.2016</b></p>
      <p><a class="btn btn-primary btn-lg" href="{{servlet-context}}/register">Register &raquo;</a></p>
    <div>
  </div>

  <div class="row">
    <div class="span12">

    </div>
  </div>
{% endblock %}
