{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <img src="images/sparta.png" class="natjecanje_logo">
    <img src="images/LOGO_HGSS_MALI.png" class="hgss_logo">
    <div>
      <h1>Welcome to 5th Zagreb Open</h1>
      <p>& Cup of Croatia</p>
      <p>Competition date: <b>07.04.2018</b></p>
      <p>Registration deadline: <b>30.03.2018</b></p>
      <p><a class="btn btn-primary btn-lg" href="{{servlet-context}}/register">Register &raquo;</a></p>
    <div>
  </div>

  <div class="row">
    <div class="span12">
    </div>
  </div>
{% endblock %}
