{% extends "base.html" %}
{% block content %}
    {% script "/js/submitForm.js" %}
    <form method="POST" action="/register-submit">
      <div class="form-group">
        {% csrf-field %}
        <p>
          Name:
          <input class="form-control"
                 type="text"
                 name="name"
                 value="{{name}}"
                 required/>
            </p>
        {% if errors.name %}
        <div class="alert alert-danger">{{errors.name|join}}</div>
        {% endif %}
        {% csrf-field %}
        <p>
          Surname:
          <input class="form-control"
                 type="text"
                 name="surname"
                 value="{{surname}}"
                 required />
            </p>
        {% if errors.surname %}
        <div class="alert alert-danger">{{errors.surname|join}}</div>
        {% endif %}
        {% csrf-field %}
        <p>
          Sex:
          <select class="form-control" name="sex" id="sex" required>
            <option>Male</option>
            <option>Female</option>
          </select>
        </p>
        {% csrf-field %}
        <p>
          Club:
          <input class="form-control"
                 type="text"
                 name="club"
                 value="{{club}}"
                 required />
            </p>
        {% if errors.club %}
        <div class="alert alert-danger">{{errors.club|join}}</div>
        {% endif %}
        {% csrf-field %}
        <p>
          Coach:
          <input class="form-control"
                 type="text"
                 name="coach"
                 value="{{coach}}"
                 required />
            </p>
        {% if errors.coach %}
        <div class="alert alert-danger">{{errors.coach|join}}</div>
        {% endif %}
        {% csrf-field %}
        <p>
          Country:
          <input class="form-control"
                 type="text"
                 name="country"
                 value="{{country}}"
                 required/>
            </p>
        {% if errors.country %}
        <div class="alert alert-danger">{{errors.country|join}}</div>
        {% endif %}
        {% csrf-field %}
        <p>
          Category:
          <select class="form-control" name="category" id="category" required>
            <option>Biathlon</option>
            <option>Long Cycle</option>
            <option>Snatch</option>
          </select>
        </p>
        {% csrf-field %}
        <p>
          Kettlebell:
          <select class="form-control" name="kettlebell" id="kettlebell" required>
            <option>16 kg</option>
            <option>24 kg</option>
            <option>32 kg</option>
          </select>
        </p>
        {% csrf-field %}
        <p>
          Weight:
          <select class="form-control" name="bodyweight" id="bodyweight" required>
            <option>-78 kg</option>
            <option>-85 kg</option>
            <option>-95 kg</option>
            <option>+95 kg</option>
          </select>
        </p>
        <input type="submit" class="btn btn-primary" value="submit" />
      </div>
    </form>
{% endblock %}
