html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.competition {
    color : red;
}

.sex {
    color : #929292;
}

.category {
    text-align: center;
    font-weight: bold;
}

.natjecanje_logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    height : 15em;
}

.hgss_logo {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    height : 15em;
}

@media(max-width: 520px) {
    .natjecanje_logo {
        margin-botton: 20px;
    }
    .hgss_logo {
        float: left;
        margin-left: 0px;
    }
}

.table-header {
    background:#F5F5F5;
    color:#3c90ef;
}